:root {
  /* Primary Colors */
  --maximum-blue: hsl(195, 16%, 56%);
  --dark-jungle-green: hsl(163, 11%, 12%);
  --hover-button: hsl(195, 14%, 26%);
  /* Neutral Colors */
  --gray-coral: hsl(220, 10%, 41%);
  --flash-white: hsl(140, 10%, 94%);
  /* Fonts Family */
  --font-Inter: "Inter", sans-serif;
  --font-Lexend-Deca: "Lexend Deca", sans-serif;
}

/* Reset Styles*/

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3 {
  line-height: 1.1;
  font-weight: 700;
}

a,
a:visited,
a:active {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
button {
  border: none;
}
img {
  max-width: 100%;
  display: inline-block;
}
body {
  margin: 0;
  padding: 0;
}

/*Header Styles*/

.container {
  background-color: var(--dark-jungle-green);
  min-height: 100vh;
}
.header {
  background-color: var(--flash-white);
  column-gap: 13.78rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 6.25rem);
  padding: 0 14.4688rem;
}
.header__icon {
  align-items: center;
  display: flex;
  margin-left: 8.25rem;
}
.header__nav {
  align-items: center;
  display: flex;
  font-family: var(--font-Inter);
  font-size: 1.25rem;
  margin-right: 8.25rem;
}
.header__ul {
  display: flex;
  flex-direction: row;
  gap: 7.12rem;
}
.header__li {
  color: var(--dark-jungle-green);
}
.header__li:hover {
  color: var(--maximum-blue);
  cursor: pointer;
}

/*Main Styles*/

.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, auto);
}

/*1st  Row*/

.main__hero {
  background-color: var(--dark-jungle-green);
  display: grid;
  grid-column: 1/2;
  grid-row: 1/2;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 47.18rem);
  padding: 0 14.375rem;
}
.main__picture {
  height: 36.125rem;
  margin: auto 0rem;
  margin-right: 3.063rem;
  margin-left: 8.25rem;
  width: 34.563rem;
}
.main__content {
  color: var(--flash-white);
  display: flex;
  flex-direction: column;
  font-family: var(--font-Lexend-Deca);
  font-size: 1.375rem;
  justify-content: center;
  margin-right: 8.25rem;
  text-align: left;
  width: 35.875rem;
  word-break: break-word;
}
.main__heading {
  color: var(--maximum-blue);
  font-family: var(--font-Inter);
  font-size: 4rem;
  margin: 0rem 0rem;
}

/*2nd  Row*/

.main__education {
  background-color: var(--maximum-blue);
  display: grid;
  grid-column: 1/-1;
  grid-row: 2/3;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 51.87rem);
  padding: 0 14.4688rem;
}
.main__attainment {
  color: var(--dark-jungle-green);
  font-family: var(--font-Lexend-Deca);
  font-size: 1.125rem;
  margin: auto 0;
  margin-left: 8.25rem;
  width: 37.313rem;
}
.main__attainment p {
  margin-left: 2rem;
}
.main__learning {
  height: 35.875rem;
  margin-top: 5rem;
  margin-right: 8.25rem;
  width: 37.938rem;
}
.main__title {
  color: var(--dark-jungle-green);
  font-family: var(--font-Inter);
  font-size: 2.81rem;
}
.main__strong {
  color: var(--flash-white);
}

/*3rd Row*/

.main__profile {
  background-color: var(--dark-jungle-green);
  display: grid;
  grid-column: 1/2;
  grid-row: 3/4;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 55.87rem);
  padding: 0 14.375rem;
}
.main__data {
  height: 45.125rem;
  margin: auto 0rem;
  margin-left: 8.25rem;
  width: 35.875rem;
}
.main__myskills {
  color: var(--flash-white);
  font-family: var(--font-Inter);
  font-size: 2.813rem;
}
.main__skillsets {
  margin: auto auto;
}
.main__strong--maximum {
  color: var(--maximum-blue);
}
.main__ul {
  color: var(--flash-white);
  display: inline-block;
  font-family: var(--font-Lexend-Deca);
  font-size: 1.125rem;
  margin-left: -2.5rem;
  text-align: center;
}
.main__ul li {
  align-items: center;
  background-color: var(--gray-coral);
  margin-bottom: 1.375rem;
  padding: 1rem 2.586rem;
}

/*footer Styles*/

.footer {
  align-items: center;
  background-color: var(--flash-white);
  display: flex;
  height: 19.5rem;
  justify-content: center;
  padding: 0 14.4688rem;
}
.footer__content {
  text-align: center;
}
.footer__heading {
  color: var(--gray-coral);
  font-family: var(--font-Inter);
  font-size: 2.81rem;
}
.footer__strong {
  color: var(--dark-jungle-green);
}
.footer__btn {
  background-color: var(--maximum-blue);
  border-radius: 1.25rem;
  color: var(--dark-jungle-green);
  font-family: var(--font-Lexend-Deca);
  font-size: 1.25rem;
  padding: 1rem 1.5rem;
}
.footer__btn:hover {
  background-color: var(--hover-button);
  color: var(--maximum-blue);
  cursor: pointer;
}
